<footer>
	<div class="blog-text-center">
		<div class="theme-annie-social">
			<% if(theme.social.enable) { %>	
				<% if(theme.social.github){ %>
					<a href="<%- url_for(theme.social.github) %>" title="Github" target="_blank"><i class="fa fa-github"></i>&nbsp;</a>
				<% } %>	
				<% if(theme.social.weibo){ %>
					<a href="<%- url_for(theme.social.weibo) %>" title="Weibo" target="_blank"><i class="fa fa-weibo"></i>&nbsp;</a>
				<% } %>
				<% if(theme.social.email){ %>
					<a href="<%- url_for(theme.social.email) %>" title="Email" target="_blank"><i class="fa fa-envelope-o"></i>&nbsp;</a>
				<% } %>	
				<% if(theme.social.weibo){ %>
					<a href="<%- url_for(theme.social.qq) %>" title="QQ" target="_blank"><i class="fa fa-qq"></i>&nbsp;</a>
				<% } %>	
				<% if(theme.social.twitter){ %>
					<a href="<%- url_for(theme.social.twitter) %>" title="Twitter" target="_blank"><i class="fa fa-twitter"></i>&nbsp;</a>
				<% } %>		
			<% } %>	
		</div>
	</div>

	<div  class="blog-text-center">
		<div class="theme-annie-copyright">
			<% if(theme.since && theme.since < date(new Date(), 'YYYY')) { %>
				&copy; <%= theme.since %> - <%= date(new Date(), 'YYYY') %>, content by <%= theme.content_author || config.author || config.title %>. All Rights Reserved.			       	
			<% } else { %>
				&copy; <%= date(new Date(), 'YYYY') %>, content by <%= theme.content_author || config.author || config.title %>. All Rights Reserved. 			   
			<% } %>
		</div>
	</div>

	<div class="blog-text-center">
		<div class="theme-annie-copyright">
		<%- link_to("http://hexo.io/", "Hexo", {external: true})%> Theme <%- link_to("https://github.com/Sariay/hexo-theme-Annie", "Annie", {external: true})%> by Sariay.		
		</div>
		
	</div>

	<div class="blog-text-center">
		<div class="theme-annie-copyright">	 	
			<a target="_blank" href="http://beian.miit.gov.cn" style="text-decoration:none;display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<span style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">津ICP备16003273号-2 |
				</span>
			</a>
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12011402000486" style="text-decoration:none;display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<span style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">津公网安备 12011402000486号</span>
			</a>
		</div>
		
	</div>
</footer>